<div class="home-banner">
  <video autoplay muted loop id="homepage-video">
    <source src="https://res.cloudinary.com/dv59x91lc/video/upload/v1600622442/mural-video_ylhdji.mp4" type="video/mp4">
  </video>
  <h1>WELCOME</h1>
</div>
<div class="container">
  <h2>Welcome to discoqueen.art!</h2>
    <%= link_to "Get to know the artist", about_path %>
    <%= link_to "Get in touch", contact_path %>
</div>
